#content{
	position: relative;
	min-height: calc(100vh - 5rem);
	overflow: hidden;
	background-color: rgba(0,0,0,0.05);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3) inset;
}

#toggle-container{
	position: absolute;
	top: 10px;
	left: calc(50% - 6rem);
	width: 12rem;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: 1rem;
	color: black;
	border-radius: 5px;
	box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.2);
	z-index: 2;
	font-weight: bold;
	animation: appear-top .5s ease 9s both;
}
#toggle{
	position: relative;
	width: 2.8rem;
	height: 1.5rem;
	background-color: black;
	border-radius: 500rem;
	margin-left: 1rem;
	transition: background-color 0.5s ease;
	cursor: pointer;
}
#toggle:hover{background-color: black;}
#toggle::after{
	content: "";
	width: 0.95rem;
	height: 0.95rem;
	position: absolute;
	background-color: white;
	top: 0.28rem;
	left: 0.35rem;
	border-radius: 100rem;
	transition: margin-left 0.2s ease;
}
#toggle.switched::after{
	margin-left: 1.2rem;
}

.ball{
	position: absolute;
	background-color: white;
	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.2);
	transition: transform 0.2s ease;
	display: flex;
	overflow: hidden;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	background-color: white;
}
.ball.clicked{
	transform: scale(1.4);
}
.textball{
	font-weight: 800;
	color: white;
	background-color: var(--color);
}
.colorpicker{
	color: rgb(42, 105, 213);
}

#iconsrc{
	position: absolute;
	display: block;
	text-decoration: none;
	background-color: white;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
	padding: 0.5rem 1rem;
	font-weight: normal;
	left: 0;
	bottom: 0;
}

#balldetail{
	display: none;
	position: fixed;
	align-items: center;
	bottom: 3rem;
	padding: 1rem;
	background-color: white;
	box-shadow: 0px 0 5px 0 rgba(0,0,0,0.2);
	border-radius: 1rem;
}
#balldetail.show{
	display: flex;
	animation: appear 0.2s ease both;
}
#detailhdr{
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}
#detailhdr img{
	height: 3rem;
	margin-right: .5rem;
}
#detailhdr h2::first-letter{
	text-transform: capitalize;
}

#close{
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 1.5rem;
	cursor: pointer;
	border-radius: 100px;
}
#close:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
}


#bar, #bardesc{
	min-width: 20rem;
}
#bardesc{
	justify-content: space-between;
}
#bar{
	margin-top: 0.5rem;
	overflow: hidden;
	height: 1.5rem;
	padding: 0.3rem;
	border-radius: 100px;
	border: 1px solid rgba(0,0,0,0.2);
	position: relative;
}
#barlength{
	height: 100%;
	background-color: red;
	border-radius: 100px;
	transition: width 1s ease;
	background-image: linear-gradient(
		70deg,
		hsl(240deg 100% 20%) 0%,
		hsl(281deg 100% 21%) 8%,
		hsl(304deg 100% 23%) 17%,
		hsl(319deg 100% 30%) 25%,
		hsl(329deg 100% 36%) 33%,
		hsl(336deg 100% 41%) 42%,
		hsl(346deg 83% 51%) 50%,
		hsl(3deg 95% 61%) 58%,
		hsl(17deg 100% 59%) 67%,
		hsl(30deg 100% 55%) 75%,
		hsl(40deg 100% 50%) 83%,
		hsl(48deg 100% 50%) 92%,
		hsl(55deg 100% 50%) 100%
	  );
}

@keyframes ballappear{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}