
#page{
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: start;
}

#content{
	width: 50vw;
}

#content section{
	background-color: white;
	margin-top: 2rem;
	padding: 3rem calc(2vw + 3rem);
	counter-reset: ha;
	border-radius: 0.4rem;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

#content section h1, #content section h2, #content section h3{
	margin: 1rem 0;
}
#content section h1{
	font-size: 1.6rem;
	counter-reset: hb;
	counter-increment: ha;
	font-variant: small-caps;
}
#content section h1::before{
	content: counters(ha, '.') " ";
}

#content section h2{
	font-size: 1.25rem;
	counter-reset: hc;
	counter-increment: hb;
}
#content section h2::before{
	content: counters(ha, '.') "." counters(hb, '.') " ";
}

#content section h3{
	font-size: 1.1rem;
	counter-increment: hc;
}
#content section h3::before{
	content: counters(ha, '.') "." counters(hb, '.') "." counters(hc, '.') " ";
}

#content section p{
	text-align: justify;
}


/*
#toc{
	position: fixed;
	top: 0;
	left: 0;
	width: 20vw;
	height: 100vh;
	text-align: right;
}
*/